name: "Rootfs Layout Settings"
stages:
  rootfs.before:
    - name: "Pull data from provider"
      datasource:
        providers: ["aws", "gcp", "openstack", "cdrom"]
        path: "/oem"
  initramfs:
    - if: '[ ! -f "/run/elemental/recovery_mode" ]'
      name: "Persist /etc/machine-id"
      commands:
      - |
        # persist machine-id
        if [ -s /run/elemental/persistent/etc/machine-id ]; then
          cat /run/elemental/persistent/etc/machine-id > /etc/machine-id
        else
          if ! [ -f /etc/machine-id ]; then
            systemd-machine-id-setup
          fi
          mkdir -p /run/elemental/persistent/etc
          cp /etc/machine-id /run/elemental/persistent/etc
        fi
